.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1240px;
}

.add-movie {
  text-align: center;
  margin: 16px 0;
}

.add-movie button {
  background-color: #0077ff;
  color: #eee;
  font-size: 14px;
  width: 180px;
  padding: 6px 12px;
  border: 0;
  border-radius: 6px;
  margin-top: 8px;
  margin-bottom: 32px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-movie button:hover {
  background-color: #065ab9;
}

.add-movie a {
  color: #eee;
  text-decoration: none;
}

.loading {
  margin: 120px 600px;
}
